body {
    display: flex;
    justify-content: center;
    align-items: center;  
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background: #f5f5f5;
}

/* container geral */
.produto-container {
    max-width: 100rem;
    display: flex;
    gap: 3rem;    
}

/* galeria de imagens */
#galeria {
    width: 50%;
    min-width: 20rem;
}

#img-principal {
    width: 24rem;
    height: 24rem;
    object-fit: contain;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
}

#thumbnails {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    gap: 0.5rem;
}

#thumbnails img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid transparent;
    background:#fff;
}

#thumbnails img:hover {
    border-color: #007bff;
}

/* seção de informações */
.info {
    flex: 1;
    width: 20rem;
}

/* bloco de reserva */
.reserva {
    background: #fff;
    border: 1px solid #ddd;
    padding: 18px;
    border-radius: 8px;
    margin-top: 25px;
}

.reserva h3 {
    margin-top: 0;
}

.reserva #botao_reservar{
    width: 100%;
    height: 2rem;
    font-size:medium;
}